figure {
  position: relative;
}

figure img {
  width: 500px;
  height: 500px;
}
img {
  display: block;
}

figcaption {
  bottom: 5px;
  margin: 0 5px;
  padding: 5px;
  position: absolute;
  width: 300px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
